<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.mapper.SvnServerMapper">
    <resultMap id="BaseResultMap" type="com.svnlike.api.model.entity.SvnServer">
        <id property="id" column="id"/>
        <result property="sshAccount" column="ssh_account"/>
        <result property="sshPassword" column="ssh_password"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectMany" resultMap="BaseResultMap">
        SELECT id, "domain", ip, description, is_enabled, created_at, updated_at
        FROM svn_server
        ORDER BY id DESC
    </select>

    <select id="selectOne" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT id, "domain", ip, description, ssh_account, ssh_password, is_enabled, created_at, updated_at
        FROM svn_server WHERE id = #{id}
    </select>

    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="com.svnlike.api.model.entity.SvnServer">
        INSERT INTO svn_server ("domain", ip, description, ssh_account, ssh_password, is_enabled)
            VALUE (#{domain}, #{ip}, #{description}, #{ssh_account}, #{ssh_password}, #{is_enabled});
    </insert>

    <update id="updateById" parameterType="com.svnlike.api.model.entity.SvnServer">
        UPDATE svn_server
        SET "domain"     = #{domain},
            ip           = #{ip},
            description  = #{description},
            ssh_account  = #{sshAccount},
            ssh_password = #{sshPassword},
            is_enabled   = #{isEnabled}
        WHERE id = #{id};
    </update>

    <update id="updateEnabledById" parameterType="com.svnlike.api.model.entity.SvnServer">
        UPDATE svn_server
        SET is_enabled = #{isEnabled}
        WHERE id = #{id};
    </update>

    <delete id="deleteById" parameterType="java.util.HashMap">
        DELETE FROM svn_server WHERE id = #{id}
    </delete>
</mapper>
